body {
     background-color:red;
    background-image:url(madi.png);
    background-repeat:no-repeat;
    
    font-family: sans-serif;
    
    margin-top: 75px;
   
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

