body {
    font-family: sans-serif;
    
    margin-top: 75px;
    background-image: url(177.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

