body {
     background-color:red;
    background-image:url(177.png);
    background-repeat:no-repeat;
    background-position:center;
    font-family: sans-serif;
    
    margin-top: 75px;
   
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.headr{
padding:10px;
text-align:center;
padding-left:50%;
height:40px;
background-color:#FFFFFF;


}
ul {
    list-style-type: none;
    margin: 0;
	padding:0;
    overflow: hidden;
    background-color:#FFFFFF;
	
}

li {
    float: left;
}

li a {
    display: block;
    color:#FF0066;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}


